<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Eco Monitor{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Система оцінювання екологічної безпеки річкових водойм Львівської області</h1>
    </header>
    <nav>
        <a href="{% url 'index' %}">Головна</a>
        <a href="{% url 'assessment' %}">Оцінка стану водойм</a>
        <a href="{% url 'methodology' %}">Методологія</a>
        <a href="{% url 'contacts' %}">Контакти</a>
        <a href="{% url 'reports' %}">Аналітичні звіти</a>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        &copy; 2024 Eco Monitor. All rights reserved.
    </footer>
</body>
</html>
